<div class="w-full sm:w-[90%] sm:mt-12 mb-9 m-auto p-12 bg-[#CEEAFF] rounded-3xl grid grid-cols-1 lg:grid-cols-4 gap-6 px-10">
  
  <!-- Free Delivery -->
  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-truck fa-lg"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">{{ 'INFO.FREE_DELIVERY.TITLE' | translate }}</h2>
      <h3 class="text-[#757F95] text-sm">{{ 'INFO.FREE_DELIVERY.SUBTITLE' | translate }}</h3>
    </div>
  </div>

  <!-- Refund -->
  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-arrows-rotate fa-lg"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">{{ 'INFO.REFUND.TITLE' | translate }}</h2>
      <h3 class="text-[#757F95] text-sm">{{ 'INFO.REFUND.SUBTITLE' | translate }}</h3>
    </div>
  </div>

  <!-- Safe Payment -->
  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-wallet fa-lg"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">{{ 'INFO.SAFE_PAYMENT.TITLE' | translate }}</h2>
      <h3 class="text-[#757F95] text-sm">{{ 'INFO.SAFE_PAYMENT.SUBTITLE' | translate }}</h3>
    </div>
  </div>

  <!-- Support -->
  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-headset fa-xl"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">{{ 'INFO.SUPPORT.TITLE' | translate }}</h2>
      <h3 class="text-[#757F95] text-sm">{{ 'INFO.SUPPORT.SUBTITLE' | translate }}</h3>
    </div>
  </div>

</div>