<div class="w-full sm:w-[90%] sm:mt-12 mb-9 m-auto p-12 bg-[#CEEAFF] rounded-3xl grid grid-cols-1 lg:grid-cols-4 gap-6 px-10 ">
  
  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-truck fa-lg"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">Free Delivery</h2>
      <h3 class="text-[#757F95] text-sm">Orders Over $120</h3>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-arrows-rotate fa-lg"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">Get Refund</h2>
      <h3 class="text-[#757F95] text-sm">Within 30 Days Returns</h3>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-wallet fa-lg"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">Safe Payment</h2>
      <h3 class="text-[#757F95] text-sm">100% Secure Payment</h3>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row items-center text-center lg:text-left space-y-3 lg:space-y-0 lg:space-x-3">
    <div class="bg-[#5BB8FF] p-4 rounded-full">
      <i class="text-white fa-solid fa-headset fa-xl"></i>
    </div>
    <div>
      <h2 class="text-[#160E4B] text-xl font-semibold">24/7 Support</h2>
      <h3 class="text-[#757F95] text-sm">Feel Free To Call Us</h3>
    </div>
  </div>

</div>
