<div
  class="w-full sm:w-[90%] sm:mt-12 mb-9 m-auto p-12 bg-[#CEEAFF] rounded-3xl grid grid-cols-1 lg:grid-cols-4 gap-6 px-10"
  [ngClass]="{ 'rtl': currentLanguage === 'ar', 'ltr': currentLanguage !== 'ar' }"
>

  <!-- Item -->
  <div class="flex items-center gap-x-3"
  [ngClass]="{ 'flex-row-reverse': currentLanguage === 'ar', 'flex-row': currentLanguage !== 'ar' }">

<!-- لما اللغة عربية: الأيقونة في اليمين -->
<ng-container *ngIf="currentLanguage === 'en'; else rtrOrder">
 <div class="bg-[#5BB8FF] p-4 rounded-full">
   <i class="text-white fa-solid fa-truck fa-lg"></i>
 </div>
 <div class="flex-1 text-left ">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.FREE_DELIVERY.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.FREE_DELIVERY.SUBTITLE' | translate }}
   </h3>
 </div>
</ng-container>

<!-- لما اللغة إنجليزي: النص في اليسار، الأيقونة في الشمال -->
<ng-template #rtrOrder>
 <div class="flex-1 text-right">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.FREE_DELIVERY.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.FREE_DELIVERY.SUBTITLE' | translate }}
   </h3>
 </div>
 <div class="bg-[#5BB8FF] p-4 rounded-full">
   <i class="text-white fa-solid fa-truck fa-lg"></i>
 </div>
</ng-template>

</div>


  <!-- Item -->
  <!-- Refund -->
<div class="flex items-center gap-x-3"
[ngClass]="{ 'flex-row-reverse': currentLanguage === 'ar', 'flex-row': currentLanguage !== 'ar' }">
<ng-container *ngIf="currentLanguage === 'ar'; else refundLtr">
  <div class="text-right">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.REFUND.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.REFUND.SUBTITLE' | translate }}
   </h3>
  </div>
<div class="bg-[#5BB8FF] p-4 rounded-full">
 <i class="text-white fa-solid fa-arrows-rotate fa-lg"></i>
</div>
</ng-container>
<ng-template #refundLtr>
  <div class="bg-[#5BB8FF] p-4 rounded-full">
    <i class="text-white fa-solid fa-arrows-rotate fa-lg"></i>
  </div>
  <div class="text-left">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.REFUND.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.REFUND.SUBTITLE' | translate }}
   </h3>
  </div>
</ng-template>
</div>

<!-- Safe Payment -->
<div class="flex items-center gap-x-3"
[ngClass]="{ 'flex-row-reverse': currentLanguage === 'ar', 'flex-row': currentLanguage !== 'ar' }">
<ng-container *ngIf="currentLanguage === 'ar'; else paymentLtr">
  <div class="text-right">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.SAFE_PAYMENT.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.SAFE_PAYMENT.SUBTITLE' | translate }}
   </h3>
  </div>
<div class="bg-[#5BB8FF] p-4 rounded-full">
 <i class="text-white fa-solid fa-wallet fa-lg"></i>
</div>
</ng-container>
<ng-template #paymentLtr>
  <div class="bg-[#5BB8FF] p-4 rounded-full">
    <i class="text-white fa-solid fa-wallet fa-lg"></i>
  </div>
  <div class="text-left">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.SAFE_PAYMENT.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.SAFE_PAYMENT.SUBTITLE' | translate }}
   </h3>
  </div>
</ng-template>
</div>

<!-- Support -->
<div class="flex items-center gap-x-3"
[ngClass]="{ 'flex-row-reverse': currentLanguage === 'ar', 'flex-row': currentLanguage !== 'ar' }">
<ng-container *ngIf="currentLanguage === 'ar'; else supportLtr">
  <div class="text-right">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.SUPPORT.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.SUPPORT.SUBTITLE' | translate }}
   </h3>
  </div>
<div class="bg-[#5BB8FF] p-4 rounded-full">
 <i class="text-white fa-solid fa-headset fa-xl"></i>
</div>
</ng-container>
<ng-template #supportLtr>
  <div class="bg-[#5BB8FF] p-4 rounded-full">
    <i class="text-white fa-solid fa-headset fa-xl"></i>
  </div>
  <div class="text-left">
   <h2 class="text-[#160E4B] text-xl font-semibold">
     {{ 'INFO.SUPPORT.TITLE' | translate }}
   </h2>
   <h3 class="text-[#757F95] text-sm">
     {{ 'INFO.SUPPORT.SUBTITLE' | translate }}
   </h3>
  </div>
</ng-template>
</div>



</div>
