<div class="container mx-auto px-4 mt-20">
  <div class="text-center my-16">
    <h1 class="text-4xl font-bold text-[#157DD2] mb-4">Best Sellers</h1>
    <p class="text-gray-600 dark:text-gray-300 max-w-2xl mx-auto">
      Explore our most popular products, loved by customers for their quality
      and value. Each item has been carefully selected based on customer
      satisfaction and performance.
    </p>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <div class="relative" *ngFor="let product of products; let i = index">
      <span
        class="p"
        [ngClass]="{
          'badge-new': i % 2 === 0,
          'badge-hot': i % 2 === 1
        }"
      >
        {{ i % 2 === 0 ? "NEW" : "HOT" }}
      </span>
      <app-cart [product]="product" class="w-full"></app-cart>
    </div>
  </div>
</div>
