<div class="transition-colors duration-300 dark:bg-[#242424]">
    <div class="max-w-screen-xl container py-12 pt-24 mx-auto px-5  md:px-20 lg:px-40">
        <!-- Title -->
        <div class="relative inline-block mb-10">
            <div class="relative text-2xl font-semibold dark:text-white transition-colors duration-300 text-black ">
                Popular Items
                <span class="absolute dark:bg-white/50 transition-colors duration-300 left-0 bottom-0 w-3/4 h-2 bg-blue-600/20 rounded-r-full"></span>
                <span class="absolute left-0 dark:bg-white transition-colors duration-300 bottom-0 w-1/2 h-[2px] bg-blue-600 rounded-r-full"></span>
              </div>
        </div>
      
        <!-- Store Card -->
        <div class="p-6 bg-white dark:bg-[#2f2f2f] duration-300 transition-colors border-2 border-[#5bb8ff] rounded-2xl flex flex-col md:flex-row items-center md:space-x-6 shadow-lg mt-10 text-gray-800 dark:text-gray-100">
          
          <!-- Store Image -->
          <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <img src="/images/Static Pages Photos/SeifPharmsy.jpg" alt="Store Image" class="rounded-lg shadow-md w-full">
          </div>
      
          <!-- Store Details -->
          <div class="w-full md:w-2/4 text-center">
            <h2 class="text-xl font-semibold text-[#161E6B] duration-300 transition-colors dark:text-[#5bb8ff]">Store 1</h2>
            <p class="mt-2">
              34, Mohamed Mazhar, Zamalek, Cairo  4271162<br>
              Egypt
            </p>
          </div>
      
          <!-- Store Hours -->
          <div class="w-full md:w-1/4 text-sm mt-4 md:mt-0 text-gray-600 duration-300 transition-colors dark:text-gray-300">
            <p class="font-semibold">Mon.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Tue.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Wed.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Thu.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Fri.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Sat.</p>
            <p>• 10:00AM - 04:00PM</p>
            <p class="font-semibold">Sun.</p>
            <p>• 10:00AM - 04:00PM</p>
          </div>
      
        </div>
      </div>
      <div class="max-w-screen-xl container py-12 mx-auto px-5  md:px-20 lg:px-40">
        <!-- Title -->
        <div class="relative inline-block mb-10">
          <div class="absolute inset-x-0 bottom-0 h-1 bg-[#161E6B] dark:bg-[#5bb8ff] rounded duration-300 transition-colors"></div>
        </div>
      
        <!-- Store Card -->
        <div class="p-6 bg-white dark:bg-[#2f2f2f] duration-300 transition-colors border-2 border-[#5bb8ff] rounded-2xl flex flex-col md:flex-row items-center md:space-x-6 shadow-lg mt-10 text-gray-800 dark:text-gray-100">
          
          <!-- Store Image -->
          <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <img src="/images/Static Pages Photos/صيدليات-العزبي-1.jpg" alt="Store Image" class="rounded-lg shadow-md w-full">
          </div>
      
          <!-- Store Details -->
          <div class="w-full md:w-2/4 text-center">
            <h2 class="text-xl font-semibold text-[#161E6B] duration-300 transition-colors dark:text-[#5bb8ff]">Store 2</h2>
            <p class="mt-2">
                Talaat Harb Sq Shop Downtown،Cairo<br>
              Egypt
            </p>
          </div>
      
          <!-- Store Hours -->
          <div class="w-full md:w-1/4 text-sm mt-4 md:mt-0 text-gray-600 duration-300 transition-colors dark:text-gray-300">
            <p class="font-semibold">Mon.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Tue.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Wed.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Thu.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Fri.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Sat.</p>
            <p>• 10:00AM - 04:00PM</p>
            <p class="font-semibold">Sun.</p>
            <p>• 10:00AM - 04:00PM</p>
          </div>
      
        </div>
      </div>
      <div class="max-w-screen-xl container py-12 mx-auto px-5  md:px-20 lg:px-40">
        <!-- Title -->
        <div class="relative inline-block mb-10">
          <div class="absolute inset-x-0 bottom-0 h-1 bg-[#161E6B] dark:bg-[#5bb8ff] rounded duration-300 transition-colors"></div>
        </div>
      
        <!-- Store Card -->
        <div class="p-6 bg-white dark:bg-[#2f2f2f] duration-300 transition-colors border-2 border-[#5bb8ff] rounded-2xl flex flex-col md:flex-row items-center md:space-x-6 shadow-lg mt-10 text-gray-800 dark:text-gray-100">
          
          <!-- Store Image -->
          <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <img src="/images/Static Pages Photos/ElezabyPharmsy.webp" alt="Store Image" class="rounded-lg shadow-md w-full">
          </div>
      
          <!-- Store Details -->
          <div class="w-full md:w-2/4 text-center">
            <h2 class="text-xl font-semibold text-[#161E6B] duration-300 transition-colors dark:text-[#5bb8ff]">Store 3</h2>

            <p class="mt-2">
            Great Sea, St.Giza District, Giza <br>
            Egypt
            </p>
          </div>
      
          <!-- Store Hours -->
          <div class="w-full md:w-1/4 text-sm mt-4 md:mt-0 text-gray-600 duration-300 transition-colors dark:text-gray-300">
            <p class="font-semibold">Mon.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Tue.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Wed.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Thu.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Fri.</p>
            <p>• 09:00AM - 07:00PM</p>
            <p class="font-semibold">Sat.</p>
            <p>• 10:00AM - 04:00PM</p>
            <p class="font-semibold">Sun.</p>
            <p>• 10:00AM - 04:00PM</p>
          </div>
      
        </div>
      </div>
</div>
