<div class="relative dark:bg-[#282828] transition-colors duration-300 max-w-6xl border border-[#57CFFB]  mx-auto mt-8 pt-8 p-6  rounded-lg shadow-md ">
<div
class="absolute top-0 left-0 w-24 h-24 bg-[#57CFFB]"
style="clip-path: polygon(0 0, 100% 0, 0 100%);"
>
</div>
<div
class="absolute bottom-0 right-0 w-24 h-24 bg-[#57CFFB]"
style="clip-path: polygon(100% 100%, 100% 0, 0 100%);"
>
</div>
<h2 class="text-center text-3xl md:text-4xl font-bold text-[#0079AB] mb-4  dark:text-white duration-300 transition-colors">
Ui UX   
</h2>
<p class="text-center  text-lg md:text-xl text-[#160E4B]  dark:text-white duration-300 transition-colors md:mt-5 mb-5">
UI/UX design is an area concerned with user  experience (UX) and<br>
interaction with the graphical interface (UI) to ensure a smooth and enjoyable 
</p>
<div class="grid grid-cols-1 w-[75%] m-auto md:grid-cols-2 max-md:gap-8  gap-40">
<div class="flex flex-col items-center">
<img src="/images/Our Team/Nour Mamdouh.png" alt="Nour Mamdouh" class=" object-cover rounded-md mb-4 shadow"/>
<h2 class="text-xl font-semibold text-[#160E4B] mb-1  dark:text-white duration-300 transition-colors">
Nour Mamdouh
</h2>
<p class="text-[#160E4B]  dark:text-white duration-300 transition-colors">UI&UX Designer</p>
</div>
<div class="flex flex-col items-center">
<img src="/images/Our Team/Ali Okasha.png" alt="Ali Okasha" class="object-cover rounded-md mb-4 h-[77%] shadow"/>
<h2 class="text-xl font-semibold text-[#160E4B] mb-1  dark:text-white duration-300 transition-colors">
Ali Okasha
</h2>
<p class="text-[#160E4B]  dark:text-white duration-300 transition-colors">UI&UX Designer</p>
</div>
</div>
</div>