.active {
  color: #3b82f6 !important;
  text-decoration: none;
  /* إزالة التسطير الافتراضي */
}

/* تأثير الأنيميشن عند تمرير الفأرة */
li {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.1);
  /* تكبير العنصر عند التمرير عليه */
}

/* تحسين شكل الـ underline */
li::after {
  content: "";
  position: absolute;
  left: 0;
  /* جعل الخط يبدأ من المنتصف */
  bottom: -2px;
  /* التحكم في المسافة بين النص والخط */
  width: 100%;
  height: 2px;
  /* سمك الخط */
  background-color: #3b82f6;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

/* اظهار الـ underline عند active فقط */
li.active::after {
  transform: scaleX(1);

}

/* اظهار الـ underline عند hover فقط إذا لم يكن العنصر active */
li:not(.active):hover::after {
  transform: scaleX(1);
}

.nav-link {
  @apply text-black px-3 py-2 relative transition-colors duration-300;

  &.active {
    @apply text-blue-600;
  }

  &:hover {
    @apply text-blue-600;
  }

  &::after {
    @apply absolute bottom-0 left-1/2 w-4/5 -translate-x-1/2;
    content: '';
    height: 2px;
    background-color: #3b82f6;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after,
  &.active::after {
    transform: scaleX(1);
  }
}

#cart-count {
  min-width: 1.5rem;
  min-height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ul {
  flex-wrap: wrap !important;
}

// Dropdown Menu
.relative {
  .absolute {
    animation: slideDown 0.2s ease-out;
    transform-origin: top;

    &.ng-leave {
      animation: slideUp 0.2s ease-in;
    }
  }
}

// Mobile Menu
.mobile-menu {
  @apply fixed inset-0 z-50 bg-white dark:bg-[#232323] transform transition-transform duration-300 ease-in-out;

  &.menu-open {
    transform: translateX(0);
  }

  &.menu-closed {
    transform: translateX(-100%);
  }

  &.rtl {
    &.menu-closed {
      transform: translateX(100%);
    }
  }
}


// Responsive Styles
@media (max-width: 768px) {
  .nav-links {
    @apply flex-col space-y-4;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
}

.slider.round {
  border-radius: 34px;
}

.slider.round .sun-moon {
  border-radius: 50%;
}

.sun-moon {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  transition: 0.4s;
}

.switch input:checked+.slider {
  background-color: black;
}

.switch input:checked+.slider .sun-moon {
  transform: translateX(26px);
  background-color: white;
  animation: rotate-center 0.6s ease-in-out both;
}

/* SVG elements and animation */
.moon-dot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
}

.switch input:checked+.slider .sun-moon .moon-dot {
  opacity: 1;
}

#moon-dot-1,
#moon-dot-2,
#moon-dot-3 {
  position: absolute;
  z-index: 4;
}

#moon-dot-1 {
  left: 10px;
  top: 3px;
  width: 6px;
  height: 6px;
}

#moon-dot-2 {
  left: 2px;
  top: 10px;
  width: 10px;
  height: 10px;
}

#moon-dot-3 {
  left: 16px;
  top: 18px;
  width: 3px;
  height: 3px;
}

.light-ray,
.cloud-dark,
.cloud-light {
  position: absolute;
  animation: cloud-move 6s infinite;
  fill-opacity: 0.1;
}

.cloud-dark {
  fill: #ccc;
  animation-delay: 1s;
}

.cloud-light {
  fill: #eee;
}

#cloud-1 {
  left: 30px;
  top: 15px;
  width: 40px;
}

#cloud-2 {
  left: 44px;
  top: 10px;
  width: 20px;
}

#cloud-3 {
  left: 18px;
  top: 24px;
  width: 30px;
}

#cloud-4 {
  left: 36px;
  top: 18px;
  width: 40px;
}

#cloud-5 {
  left: 48px;
  top: 14px;
  width: 20px;
}

#cloud-6 {
  left: 22px;
  top: 26px;
  width: 30px;
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-32px);
  opacity: 0;
  transition: 0.4s;
}

.switch input:checked+.slider .stars {
  transform: translateY(0);
  opacity: 1;
}

.star {
  fill: white;
  position: absolute;
  animation: star-twinkle 2s infinite;
}

#star-1 {
  width: 20px;
  top: 2px;
  left: 3px;
  animation-delay: 0.3s;
}

#star-2 {
  width: 6px;
  top: 16px;
  left: 3px;
}

#star-3 {
  width: 12px;
  top: 20px;
  left: 10px;
  animation-delay: 0.6s;
}

#star-4 {
  width: 18px;
  top: 0px;
  left: 18px;
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}