.active {
  color: #3b82f6 !important;
  text-decoration: none; /* إزالة التسطير الافتراضي */
}
/* تأثير الأنيميشن عند تمرير الفأرة */
li {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.1); /* تكبير العنصر عند التمرير عليه */
}

/* تحسين شكل الـ underline */
li::after {
    content: "";
    position: absolute;
    left: 0; /* جعل الخط يبدأ من المنتصف */
    bottom: -2px; /* التحكم في المسافة بين النص والخط */
    width: 100%;
  height: 2px; /* سمك الخط */
  background-color: #3b82f6;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

/* اظهار الـ underline عند active فقط */
li.active::after {
    transform: scaleX(1);
    
}

/* اظهار الـ underline عند hover فقط إذا لم يكن العنصر active */
li:not(.active):hover::after {
    transform: scaleX(1);
}

.nav-link {
  @apply text-black px-3 py-2 relative transition-colors duration-300;

  &.active {
    @apply text-blue-600;
  }

  &:hover {
    @apply text-blue-600;
  }

  &::after {
    @apply absolute bottom-0 left-1/2 w-4/5 -translate-x-1/2;
    content: '';
    height: 2px;
    background-color: #3b82f6;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after,
  &.active::after {
    transform: scaleX(1);
  }
}

#cart-count {
  min-width: 1.5rem;
  min-height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ul{
flex-wrap: wrap !important;
}
.themeToggle {
  color: #bbb;
  width: 3em;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .themeToggleInput {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .customCheckbox {
    margin-left: 25%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s ease, transform 0.4s ease;

    svg {
      width: 70%;
      height: 70%;
      transition: transform 0.4s ease, fill 0.4s ease;
      transform: rotate(40deg);

      .sunMoon {
        transform-origin: center center;
        transition: inherit;
        transform: scale(1);
      }

      .sunRay {
        transform-origin: center center;
        transform: scale(0);
      }

      mask > circle {
        transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
        transform: translate(0px, 0px);
      }
    }
  }

  .themeToggleInput:checked + .customCheckbox {
    background-color: white;

    svg {
      transform: rotate(90deg);

      mask > circle {
        transform: translate(16px, -3px);
      }

      .sunMoon {
        transform: scale(0.55);
      }

      .sunRay {
        animation: showRay1832 0.4s ease 0s 1 forwards;
      }
    }
  }
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
