<div class="flex  max-lg:flex-wrap   mt-10">
 <app-doctor class="lg:hidden"></app-doctor>

<div class="w-[25%] max-lg:mt-4 max-md:flex-wrap max-lg:flex xl:ml-12 max-xl:w-full">
 <div class="p-5 max-md:w-full  ">
  <img class="rounded-full m-auto w-16 h-16" src="/images/booking/yellow.png" alt="">
  <h2 class="text-center mt-2 dark:text-white duration-300 transition-colors font-semibold text-lg">Search Doctor</h2>
  <h2 class="pt-3 leading-relaxed text-sm text-center dark:text-white duration-300 transition-colors ">Registration for a check at the  clinic needed for treatment</h2>
 </div>
 <div class="p-3  max-md:w-full  max-sm:mt-0   ">
  <img class="rounded-full m-auto w-16 h-16" src="/images/booking/message.png" alt="">
  <h2 class="text-center mt-2 dark:text-white duration-300 transition-colors font-semibold text-lg">Search Doctor</h2>
  <h2 class="pt-3 leading-relaxed text-sm text-center dark:text-white duration-300 transition-colors ">Registration for a check at the  clinic needed for treatment</h2>
 </div>
</div>
<app-doctor class="max-lg:hidden"></app-doctor>
</div>
<div class="grid xl:pt-8 grid-cols-4 max-lg:grid-cols-2 max-md:grid-cols-1 gap-4 ">
 <div class="p-5 max-md:w-full  ">
  <img class="rounded-full m-auto w-16 h-16" src="/images/booking/calender.png" alt="">
  <h2 class="text-center mt-2 dark:text-white duration-300 transition-colors font-semibold text-lg">Make Appoinment</h2>
  <h2 class="pt-3 leading-relaxed text-sm text-center dark:text-white duration-300 transition-colors ">Registration for a check at the  clinic needed for treatment</h2>
 </div>
  <div class="p-5 max-md:w-full  ">
  <img class="rounded-full m-auto w-16 h-16" src="/images/booking/Q.png" alt="">
  <h2 class="text-center mt-2 dark:text-white duration-300 transition-colors font-semibold text-lg">Chat Support</h2>
  <h2 class="pt-3 leading-relaxed text-sm text-center dark:text-white duration-300 transition-colors ">24 chat support for  all <br> clints for  all needs</h2>
 </div>
  <div class="p-5 max-md:w-full  ">
  <img class="rounded-full m-auto w-16 h-16" src="/images/booking/m.png" alt="">
  <h2 class="text-center mt-2 dark:text-white duration-300 transition-colors font-semibold text-lg">New Technology</h2>
  <h2 class="pt-3 leading-relaxed text-sm text-center dark:text-white duration-300 transition-colors ">24 chat support for  all <br> clints for  all needs</h2>
 </div>
  <div class="p-5 max-md:w-full ">
  <img class="rounded-full m-auto w-16 h-16" src="/images/booking/scope.jpg" alt="">
  <h2 class="text-center mt-2 dark:text-white duration-300 transition-colors font-semibold text-lg">Get Solutions</h2>
  <h2 class="pt-3 leading-relaxed text-sm text-center dark:text-white duration-300 transition-colors ">Registration for a check at the  clinic needed for treatment</h2>
 </div>
</div>