
<div class="pt-36 max-sm:pt-20 max-lg:pt-24 ">
<div class="grid grid-cols-2 gap-40 max-md:grid-cols-1">
    
<div class=" pt-16 max-lg:pt-7  max-sm:pt-3 ">
<h2 class="dark:text-white transition-colors duration-300 text-3xl max-md:text-xl">Providing Quality <span class="text-cyan-500">Healthcare</span> For A <br class="max-md:hidden ">
   <span class="text-blue-400"> Brighter </span> And <span class="text-blue-400">Healthy</span>  Future</h2>
   <h4 class="mt-4 dark:text-white duration-300 transition-colors leading-relaxed">
    At our hospital, we are dedicated to providing exceptional <br class="max-md:hidden"> 
    medical care to our patients and their families. <br class="max-md:hidden">
    Our experienced team of medical professionals, cutting-edge <br class="max-md:hidden">
     technology, and compassionate approach make us a leader <br class="max-md:hidden">
      in the healthcare industry
   </h4>
   <div class="flex-row flex mt-8">
    <button class="bg-[#5BB8FF] text-white p-1.5 px-11 rounded-lg hover:bg-blue-500 duration-500 ">Appointments</button>
<i class="fa-solid fa-circle-play text-4xl  text-[#74C0FC] hover:text-blue-500 duration-500 ml-8 max-lg:mt-2 max-md:mt-0"></i>
<h2 class="dark:text-white duration-300 mt-2 ml-6 transition-colors max-sm:hidden">watch video</h2>
</div>
</div>
<div>
<img class="w-[80%]" src="/images/booking/green doctor.png" alt="">
</div>
</div>

</div>
<div class="mt-16  dark:bg-[#353535] duration-300 transition-colors rounded-xl pb-5 bg-gray-100">
<h2 class="text-3xl font-semibold ml-16 max-sm:text-center max-sm:ml-0 max-xl:ml-8 pt-4 dark:text-white duration-300 transition-colors">Find A Doctor </h2>
<div class="flex flex-wrap  max-sm:ml-0  max-xl:ml-8 ml-16 mt-5">
    <input placeholder="Name" name="Doc-Name" class="max-sm:w-full border transition-colors duration-300 max-lg:ml-16 max-md:ml-0 border-blue-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-3 placeholder-blue-900 text-blue-700 dark:bg-gray-300" type="text">
     <input placeholder="speciality" name="Doc-Name" class="max-sm:w-full max-sm:mt-4 border max-sm:ml-0 ml-16 max-xl:ml-6 transition-colors duration-300 border-blue-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-3 placeholder-blue-900 text-blue-700 dark:bg-gray-300" type="text">
  <label class="label-text dark:text-white duration-300 transition-colors  max-sm:ml-0 ml-40 max-xl:ml-5 mt-4 max-lg:ml-20 max-lg:mt-8 ">Available</label>
  <label class="switch mt-4 max-lg:mt-8   ml-3">
    <input type="checkbox" checked>
    <span class="slider"></span>
  </label>
  
  <button type="submit" class="bg-[#5BB8FF] max-sm:w-full hover:bg-blue-500 duration-500 text-white ml-36 max-xl:ml-3 max-lg:ml-28 max-sm:ml-0 p-3 px-14 rounded-lg max-lg:mt-5 ">Search</button>
</div>
</div>
<div class="mt-20">
    <h2 class="text-center text-2xl text-[#5BB8FF] dark:text-white duration-300 transition-colors font-semibold ">Our results in numbers</h2>
    <div class="grid grid-cols-4 gap-10 mt-10 max-lg:grid-cols-2 max-sm:grid-cols-1">
    <div>
     <h2 class="text-center text-[#5BB8FF] text-3xl font-semibold">99%</h2>
        <h2 class=" text-center text-xl dark:text-white duration-300 transition-colors ">Custome Satisfaction</h2>
    </div>
    <div>
          <h2 class="text-center text-[#5BB8FF] text-3xl font-semibold">15K</h2>
        <h2 class=" text-center text-xl dark:text-white duration-300 transition-colors ">Online Patients</h2>
    </div>
    <div>
        <h2 class="text-center text-[#5BB8FF] text-3xl font-semibold">12K</h2>
        <h2 class=" text-center text-xl dark:text-white duration-300 transition-colors ">Patients Recovered</h2>
    </div>
    <div>
       <h2 class="text-center text-[#5BB8FF] text-3xl font-semibold">24K</h2>
        <h2 class="text-center text-xl dark:text-white duration-300 transition-colors ">Company growth</h2>  
    </div>
    </div>
</div>
<div class="mt-24 grid grid-cols-2 gap-16 max-sm:grid-cols-1"> 
<div>
    <h2 class="text-[#5BB8FF] text-3xl xl:pt-12 font-semibold leading-relaxed ">You have lots of reasons <br class="max-lg:hidden">
         to choose us</h2>
         <h2 class="dark:text-white duration-300 transition-colors mt-4 ">Lorem ipsum dolor sit amet consectetur adipiscing eli <br class="max-sm:hidden">
             mattis sit phasellus mollis sit aliquam sit nullam.</h2>
             <div class="flex flex-wrap">
                <button class="rounded-full bg-[#5BB8FF] p-4 text-white mt-14 px-6 dark:bg-blue-500 dark:hover:bg-[#5BB8FF]  hover:bg-blue-500 duration-500">Get started</button>
                <button class="bg-gray-200 text-[#5BB8FF] rounded-full  p-4 ml-6 max-lg:ml-0 mt-14 px-6 dark:bg-[#454545] dark:hover:bg-[#555555] transition-colors hover:bg-gray-300 duration-300">Talk to sales</button>
             </div>
</div>
<div>
    <img src="/images/booking/many doctors.jpg" alt="">

</div>
</div>