<div class="bg-[#E9F5FF] p-6 rounded-xl shadow-md mt-6">
    <h2 class="text-base font-medium mb-4 text-[var(--secondary-color)]">Cart Summary</h2>
    <div class="text-sm space-y-2">
      <p class="flex justify-between text-[#160E4B]">
        <span>Sub Total:</span>
        <span class="text-[#547BD1]">$4,500.00</span>
      </p>
      <p class="flex justify-between text-[#160E4B]">
        <span>Discount:</span>
        <span class="text-[#547BD1]">$5.00</span>
      </p>
      <p class="flex justify-between text-[#160E4B]">
        <span>Shipping:</span>
        <span class="text-[#547BD1]">Free</span>
      </p>
      <p class="flex justify-between text-[#160E4B]">
        <span>Taxes:</span>
        <span class="text-[#547BD1]">$25.00</span>
      </p>
      <p class="flex justify-between mt-3 font-medium text-[#160E4B]">
        <span>Total:</span>
        <span class="text-[#547BD1]">$4,520.00</span>
      </p>
    </div>
    <button
      class="w-full bg-[#0070CD] text-white text-sm py-2 px-3 mt-4 rounded-lg shadow-md"
    >
      Checkout Now →
    </button>
  </div>