<div class="bg-gray-100 mt-10 transition-colors duration-300 dark:bg-[#282828] py-8">
<h2 class="text-2xl text-[#5BB8FF] font-semibold text-center transition-colors duration-300 ">Trusted by 10,000+ companies around the world</h2>
<div class="flex flex-wrap justify-evenly ">
<img class="w-40 h-40" src="/images/booking/google.png" alt="">
<img class="w-40 h-40" src="/images/booking/facebook.png" alt="">
<img class="w-40 h-40" src="/images/booking/youtube.png" alt="">
<img class="w-40 h-40" src="/images/booking/pinterest.png" alt="">
<img class="w-40 h-40" src="/images/booking/twitch.png" alt="">
<img class="w-40 h-20 mt-12" src="/images/booking/webflow.png" alt="">

</div>
</div>
<div class="bg-gray-200 dark:bg-[#303030] transition-colors duration-300 py-10 ">
<h2 class="text-2xl font-semibold dark:text-white  transition-colors duration-300 text-center">Subscribe to our newsletter</h2>
<div class="mt-5">
<form class="flex justify-center max-md:flex-wrap ">
 <input formControlName="email" 
               type="email" 
                placeholder="Enter your email"
               class="w-80 h-11 border border-blue-300 text-sm transition-colors duration-300 focus:ring-blue-500 focus:border-blue-500 pl-4 rounded-3xl p-2.5 placeholder-blue-900 text-blue-700 dark:bg-gray-300">
                 <button type="submit" class="bg-[#5BB8FF] max-md:mt-6 hover:bg-blue-500 duration-500 text-white ml-5   p-2 px-8 rounded-full ">Subscribe</button>

            </form>
</div>
</div>