<div class="dark:bg-[#252525] duration-300 transition-colors">
  <div class="flex justify-between items-center pt-24 max-sm:pt-24 max-sm:ml-2 max-sm:mb-1 max-sm:mr-3 ml-10 mr-10">
    <div class="relative text-l font-bold text-[var(--secondary-color)] dark:text-white duration-300 transition-colors pb-1/2">
      {{ dcategory.name }}
      <span
        class="absolute dark:bg-white/50 transition-colors duration-300 bottom-0 start-0 h-2 w-3/4 bg-blue-600/20 rounded-e-full end-0 rounded-s-full"
      ></span>
      <!-- الخط الرفيع الأمامي -->
      <span
        class="absolute dark:bg-white transition-colors duration-300 bottom-0 start-0 h-[2px] w-1/2 bg-blue-600 end-0 rounded-s-full"
      ></span>
    </div>
  </div>
  
  <!-- Display all products using *ngFor -->
  <div class="grid grid-cols-4 mx-14 gap-6 mt-8 max-lg:grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1">
    <app-cart *ngFor="let product of products" [product]="product"></app-cart>
  </div>
</div>
