<div class=" flex items-center justify-center bg-gray-100 p-12 mb-5">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- First Card -->
      <div class="flex flex-col items-start">
        <img src="/image 21.png" alt="image">
       
        <h3 class="text-[#0070CD] font-semibold">book your medicine everywhere</h3>
        <p class="text-gray-600 text-sm mt-2">
          Book your medicine when it be available in the website and will come to you without any additional expenses.
        </p>
      </div>
  
      <!-- Second Card -->
      <div class="flex flex-col items-start">
        <img src="/image 20.png"  alt="image">
        <h3 class="text-[#0070CD] font-semibold">Book for free and pay when arrive</h3>
        <p class="text-gray-600 text-sm mt-2">
          The price of the medicine on Prime care is the same as the price of the pharmacy in the clinic, without any additional expenses.
        </p>
      </div>
  
      <!-- Third Card -->
      <div class="flex flex-col items-start">
        <img src="/image 19.png"  alt="image">
        <h3 class="text-[#0070CD] font-semibold">Real reviews from patients</h3>
        <p class="text-gray-600 text-sm mt-2">
          Doctor reviews from patients who booked on Prime care and have already visited the doctor.
        </p>
      </div>
  
      <!-- Fourth Card -->
      <div class="flex flex-col items-start">
        <img src="/image 18.png" alt="image">
        <h3 class="text-[#0070CD] font-semibold">All your needs on prime care</h3>
        <p class="text-gray-600 text-sm mt-2">
          Search and book an examination with a doctor at a clinic, hospital, home visit, or via call. You can also order medications, or book a service or operation at the best price.
        </p>
      </div>
    </div>
  </div>
  
