<div class="flex items-center my-14 justify-center w-[100%]  dark:bg-[#313131] rounded-2xl transition-colors duration-300 bg-gray-100 p-12">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <!-- First Card -->
    <div class="flex flex-col items-start">
      <img src="/images/image 21.png" alt="image">
      <h3 class="text-[#0070CD] font-semibold">{{ 'FEATURES.CARD_1.TITLE' | translate }}</h3>
      <p class="text-gray-600 text-sm mt-2  dark:text-gray-300 transition-colors duration-300 ">
        {{ 'FEATURES.CARD_1.DESCRIPTION' | translate }}
      </p>
    </div>

    <!-- Second Card -->
    <div class="flex flex-col items-start">
      <img src="/images/image 20.png" alt="image">
      <h3 class="text-[#0070CD] font-semibold">{{ 'FEATURES.CARD_2.TITLE' | translate }}</h3>
      <p class="text-gray-600 text-sm mt-2  dark:text-gray-300 transition-colors duration-300 ">
        {{ 'FEATURES.CARD_2.DESCRIPTION' | translate }}
      </p>
    </div>

    <!-- Third Card -->
    <div class="flex flex-col items-start">
      <img src="/images/image 19.png" alt="image">
      <h3 class="text-[#0070CD] font-semibold">{{ 'FEATURES.CARD_3.TITLE' | translate }}</h3>
      <p class="text-gray-600 text-sm mt-2  dark:text-gray-300 transition-colors duration-300 ">
        {{ 'FEATURES.CARD_3.DESCRIPTION' | translate }}
      </p>
    </div>

    <!-- Fourth Card -->
    <div class="flex flex-col items-start">
      <img src="/images/image 18.png" alt="image">
      <h3 class="text-[#0070CD] font-semibold">{{ 'FEATURES.CARD_4.TITLE' | translate }}</h3>
      <p class="text-gray-600 text-sm mt-2  dark:text-gray-300 transition-colors duration-300 ">
        {{ 'FEATURES.CARD_4.DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</div>