
.doc{
  background-image:url(/images/image.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.med{
  background-image:url(/images/image\ \(1\).png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.skn{
  background-image:url(/images/image\ \(2\).png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
