<div class="w-full pr-20 h-64  flex justify-center flex-col mt-20 sm:mt-0 sm:flex-row text-right ">
<div class="doc w-full mr-14   mt-8 sm:mt-0 h-full mx-auto sm:w-1/4 ml-12 sm:ml-20 rounded-xl">
<br>         
 <app-texts >The Best <span class="text-[#37B2FF]">Doctor</span></app-texts>
 <app-texts>In The Area</app-texts>
 <app-disc-btn></app-disc-btn>
</div>
<div class="med h-full w-full mt-6 mr-14 sm:mt-0 sm:w-1/4 mx-auto ml-12 sm:ml-0  rounded-xl">
<h3 class="text-[#00366A] pr-3 mt-8 mb-2">Prime Care</h3>
<app-texts>All The <span class="text-[#1C00D4]">Medicine</span></app-texts>
<app-texts>You Need In One Place</app-texts>
<app-disc-btn></app-disc-btn>
</div>
<div class="skn h-full w-full mt-6 mr-9  sm:w-1/4 mx-auto ml-12 sm:ml-0  sm:mt-0 rounded-xl">
<h3 class="text-[#00366A] pr-3 mt-3">Prime Care</h3>
<app-texts>Your <span class="text-[#98E1EA] pr-2">Skin Care</span>Is On</app-texts>
<app-texts>Us With La Roche</app-texts>
<app-disc-btn></app-disc-btn>
</div>
</div>
