
<footer>
    <!---div الكبيره-->
    <div class=" bg-blue-900 text-white py-2 px-6 fixed bottom-0 left-0 w-full ">
        <!--  div  444444 -->
    <div class="container mx-auto px-6 grid  md:grid-cols-4  ">
        <div>
            <h2 class="text-3xl font-somibold">About Us</h2>
            <p class="mt-2 text-sm"> We are a company that cares about your health  and helps hospitals and doctors provide the best equipment and treatment.</p>
            <P class="mt-2 text-sm" >Follow Us</P>

            <div class="flex space-x-4 mt-4">
                <a href="#" class="text-xl"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-xl"><i class="fab fa-x-twitter"></i></a>
                <a href="#" class="text-xl"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-xl"><i class="fab fa-linkedin"></i></a>
              </div>
        </div>
        
        <div>
            <h3 class="text-3xl font-somibold"> Prime Care</h3>
            <ul class="mt-2 space-y-2 text-sm">
                <li><a href="#" class="hover:underline">Home</a></li>
                <li><a href="#" class="hover:underline">Products</a></li>
                <li><a href="#" class="hover:underline">Testimonials</a></li>
                <li><a href="#" class="hover:underline">About</a></li>
              </ul>
        </div>

        <div>
            <h3 class="text-3xl font-somibold"> Store location</h3>
            <ul class="mt-2 space-y-2 text-sm">
                <li><a href="#" class="hover:underline">content</a></li>
                <li><a href="#" class="hover:underline">Delivery</a></li>
                <li><a href="#" class="hover:underline">Policy</a></li>
                <li><a href="#" class="hover:underline">FAQS</a></li>
              </ul>
        </div>

        <div>
            <h3 class="text-3xl font-somibold"> Shop Categories</h3>
            <ul class="mt-2 space-y-2 text-sm">
                <li><a href="#" class="hover:underline">Medical Devices</a></li>
                <li><a href="#" class="hover:underline">Health & Wellness</a></li>
                <li><a href="#" class="hover:underline">Hospital Equipment</a></li>
                <li><a href="#" class="hover:underline">Pharmaceuticals</a></li>
              </ul>
        </div>
    </div>

    <div>
        <p class="mt-32 text-center font-mono font-thin ">© 2024 Primecare Madical Innovations</p>
    </div>
</div>

</footer>