<div class="flex flex-wrap items-center justify-between gap-2 md:gap-0">
  <!-- Previous Button -->
  <button
    class="px-3 py-1 border rounded-md flex gap-2 items-center order-2 lg:order-1 text-black disabled:opacity-50"
    [disabled]="currentPage === 1"
    (click)="goToPage(currentPage - 1)"
  >
    <span class="w-4 h-4"> < </span>
    <span>{{ "PAGINATION.PREVIOUS" | translate }}</span>
  </button>

  <!-- Page Numbers -->
  <div
    class="flex flex-wrap justify-center w-full lg:w-auto gap-1 md:gap-2 order-1 lg:order-2"
  >
    @for (page of pages; track $index) {
    <button
      *ngIf="page !== '...'; else dots"
      class="px-2 md:px-3 py-1 border rounded-md"
      [class.bg-gray-200]="page === currentPage"
      (click)="goToPage(page)"
    >
      {{ page }}
    </button>
    <ng-template #dots>
      <span class="px-2">...</span>
    </ng-template>
    }
  </div>

  <!-- Next Button -->
  <button
    class="px-3 py-1 border rounded-md flex gap-2 items-center order-3 text-black disabled:opacity-50"
    [disabled]="currentPage === totalPages || totalPages === 0"
    (click)="goToPage(currentPage + 1)"
  >
    <span>{{ "PAGINATION.NEXT" | translate }}</span>
    <span class="w-4 h-4"> > </span>
  </button>
</div>
