
      <div class="pb-5">
        <div class="w-[80%] max-md:w-full pb-8 dark:bg-[#313131] m-auto   rounded-2xl">
            <div class="grid grid-cols-1 w-[80%] max-md:w-full m-auto md:grid-cols-2    ">
            <div class="pt-8">
            <h2 class=" text-2xl max-lg:text-xl text-[#160E4B] dark:text-white duration-300 transition-colors max-md:text-center leading-relaxed font-semibold " >
            Made by <span class="text-[#B800D8]">Nexgen Team</span> if you <br class="max-lg:block hidden xl:block">
            want to know more click on the <br>
            image
            </h2>
            </div>
            <div class="flex flex-col items-center max-md:mt-7 pt-8  m-auto">
            <img src="/images/Our Team/Nexgen Logo.png" alt="Nexgen" class="object-cover rounded-md mb-4 w-[55%] shadow"/>
            </div>
            </div>
            </div>

      </div>