<h2 class="text-center text-3xl font-bold mt-14 text-[#160E4B]">Our Team</h2>
<div class="relative bg-white max-w-6xl border border-[#57CFFB]  mx-auto  pt-8 p-6 mt-8 rounded-lg shadow-md ">
<div
class="absolute top-0 right-0 w-24 h-24 bg-[#57CFFB]"
style="clip-path: polygon(100% 0, 0 0, 100% 100%);"
>
</div>
<div
class="absolute bottom-0 left-0 w-24 h-24 bg-[#57CFFB]"
style="clip-path: polygon(0 100%, 0 0, 100% 100%);"
>
</div>
<div class="grid grid-cols-1 w-[80%] max-md:w-full m-auto md:grid-cols-2 gap-8   ">
<div class="pt-4">
<h2 class="text-center text-3xl font-semibold text-[#160E4B]">Project manager</h2>
<h2 class=" text-2xl max-lg:text-xl text-[#160E4B]  leading-relaxed pt-4 font-semibold " >
The project manager is the person responsible for planning, implementing and supervising all 
phases of the project
</h2>
<h2 class="text-2xl max-lg:text-xl  leading-relaxed pt-4 font-semibold ">“Be yourself; everyone else is already taken.<br>
―Seif Emam</h2>
</div>
<div class="flex flex-col items-center  m-auto">
<img src="/images/Our Team/Seif Emam.png" alt="Seif Emam" class="object-cover rounded-md mb-4 w-[80%] shadow"/>
<h2 class="text-xl font-semibold text-[#160E4B] mb-1">
Seif Emam
</h2>
<p class="text-[#160E4B]">Project Manager</p>
</div>
</div>
</div>