<div

  class="product-card flex justify-center pb-4 dark:bg-[#252525] transition-colors duration-300 w-full h-[480px]"
>
  <div class="product-card__inner w-full flex flex-col">
    <div
      class="product-card__image relative  overflow-hidden rounded-20 w-full h-[400px]"
    >
      <img
        class="rounded-20 w-[100%] h-[100%] object-cover"
        [src]="product.photoUrl"
        [alt]="product.name"
        loading="lazy"
      />
      <div
      
        class="product-card__overlay w-full h-full absolute top-0 flex justify-center items-center"
      >
        <div
        
          class="product-card__overlay__content flex justify-center items-center"
        >
          <div
            class="product-card__overlay__item mx-5 flex justify-center items-center bg-primary"
          >
            <img
              src="/icons/eye.svg"
              alt="View"
              routerLink="/SingleProduct/{{ product.id }}"
            />
          </div>
          <div
            class="product-card__overlay__item mx-5 flex justify-center items-center bg-primary"
          >
            <button
              class="text-white hover:text-red-500"
              aria-label="Wishlist"
              (click)="addToWishlist()"
            >
              <i
                [class]="
                  isInWishlist ? 'fa-solid fa-heart' : 'fa-regular fa-heart'
                "
                [style.color]="isInWishlist ? '#ff0000' : '#ffffff'"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Card Content -->
    <div class="product-card__content px-4 py-3 flex flex-col flex-grow">
      <h3
        class="font-semibold cursor-pointer text-sm dark:text-white transition-colors duration-300 line-clamp-2 "
        [title]="product.name"
        routerLink="/SingleProduct/{{ product.id }}"
      >
        {{ product.name }}
      </h3>

      <!-- Star Rating -->
      <div class="product-card__stars flex my-2">
        <ng-container *ngFor="let star of getStars(0)">
          <i
            *ngIf="star === 'full'"
            class="fa-solid fa-star text-xs"
            style="color: #74c0fc"
          ></i>
          <i
            *ngIf="star === 'half'"
            class="fa-solid fa-star-half-stroke text-xs"
            style="color: #74c0fc"
          ></i>
          <i
            *ngIf="star === 'empty'"
            class="fa-regular fa-star text-xs"
            style="color: #74c0fc"
          ></i>
        </ng-container>
      </div>

      <!-- Pricing and Discount -->
      <div class="product-card__price flex flex-col mt-auto">
        <div class="flex items-center">
          <span
            class="dark:text-cyan-300 duration-300 transition-colors text-blue-800 font-medium text-sm"
          >
            {{ getPriceAfterDiscount(product) | currency : currencyCode }}
          </span>
          <span class="text-xs text-blue-500 line-through ml-1">
            {{ product.price | currency : currencyCode }}
          </span>
        </div>
        <span class="text-[10px] text-green-600 mt-1">
          {{ calculateDiscount(product) | number : "1.0-0" }}% Discount
        </span>
      </div>

      <!-- Add to Cart Button -->
      <div class="product-card__actions flex justify-end mt-3" (click)="addToCart()">
        <div class="product-card__actions__item flex justify-center">
          <button aria-label="Add to Cart" >
            <img
              src="/icons/shopping-bag-icon.svg"
              alt="Add to Cart"
              class="w-6 h-6"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
