<div class="relative bg-white max-w-6xl border border-[#57CFFB]  mx-auto mt-8 mb-16 p-6 md:p-10 rounded-lg shadow-md ">
<div
class="absolute top-0 left-0 w-24 h-24 bg-[#57CFFB]"
style="clip-path: polygon(0 0, 100% 0, 0 100%);"
>
</div>
<div
class="absolute bottom-0 right-0 w-24 h-24 bg-[#57CFFB]"
style="clip-path: polygon(100% 100%, 100% 0, 0 100%);"
>
</div>
<h2 class="text-center text-3xl md:text-4xl font-bold text-[#160E4B] mb-4">
Backend Developer
</h2>
<p class="text-center  text-lg md:text-xl text-[#160E4B] md:mt-5 mb-5">
A Backend is the back of a site or application that the
user does not see,<br> 
but is responsible for processing  data, running programmatic logic </p>
<div class="grid grid-cols-1 w-[80%] m-auto md:grid-cols-3 gap-10 max-md:pb-5">
<div class="flex flex-col items-center pt-4">
<img src="/images/Our Team/Aya Mohammed.png" alt="Aya Mohammed" class="object-cover rounded-md mb-4"/>
<h2 class="text-xl font-semibold mb-1 text-[#160E4B]">Aya Mohammed</h2>
<p class="text-[#160E4B]">Backend Developer</p>
</div>
<div class="flex flex-col items-center">
<img src="/images/Our Team/Yassen Ahmed.png"alt="Yassen Ahmed" class=" object-cover rounded-md mb-4"/>
<h2 class="text-xl font-semibold mb-1 text-[#160E4B]">Yassen Ahmed</h2>
<p class="text-[#160E4B]">Backend Developer</p>
</div>
<div class="flex flex-col items-center">
<img src="/images/Our Team/Zeyad Tarek.png" alt="Zeyad Tarek" class="object-cover rounded-md mb-4"/>
<h2 class="text-xl font-semibold mb-1 text-[#160E4B]">Zeyad Tarek</h2>
<p class="text-[#160E4B]">Backend Developer</p>
</div>
</div>
</div>