<h2 class="text-xl max-lg:ml-8  font-semibold ml-24 ">Product Information</h2>
<div class="  md:flex max-md:mx-5  mx-12 mt-4 mb-14">
<div class=" ml-10 max-md:mb-6 max-md:ml-0 rounded-20  border  w-72 h-80 ">
<img class="rounded-20 images w-96 h-full" [src]="product.imgCover"/>
</div>
<div class=" md:ml-14">
<h2>{{product.description}}</h2>
<ul class="list-disc ml-8 ">
<li>i Dont know What To Say Here</li>
<li> so this words are temporarily </li>
<li>Waiting For The Api To End</li>
</ul>
</div>
</div>