<div class="mt-20 bg-slate-50">
    <div class="max-w-[730px] mx-10">
        @for (section of sections; track section.type) {
            <div class="text-md border rounded-lg h-10 font-semibold mb-4 shadow-lg shadow-gray-350 border-gray-200 text-right flex items-center justify-between px-4 cursor-pointer"
                (click)="showSection(section.type)" 
                [class.bg-gray-100]="selectedSection === section.type"
                [class.text-[#013c76]]="selectedSection === section.type">
                {{ section.label }}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="transition-transform duration-300"
                     [class.rotate-180]="selectedSection === section.type">
                    <path d="M6 9l6 6 6-6"></path>
                </svg>
            </div>
        }
    </div>

    @if (selectedSection === 'form') {
        <app-form></app-form>
    }
    @if (selectedSection === 'paymet') {
        <app-paymet></app-paymet>
    }
</div>
