<div class="bg-slate-50 min-h-screen">
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="md:col-span-2 p-6">
        <h2 class="text-2xl font-semibold mb-6 text-[var(--secondary-color)]">
          {{ 'CHECKOUT.BILLING_ADDRESS.TITLE' | translate }}
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.FIRST_NAME' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.FIRST_NAME_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.LAST_NAME' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.LAST_NAME_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.EMAIL' | translate }}
            </label>
            <input
              type="email"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.EMAIL_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.PHONE' | translate }}
            </label>
            <input
              type="tel"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.PHONE_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div class="md:col-span-2">
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.ADDRESS_LINE_1' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.ADDRESS_LINE_1_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div class="md:col-span-2">
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.ADDRESS_LINE_2' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.ADDRESS_LINE_2_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.COUNTRY' | translate }}
            </label>
            <select class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500">
              <option>{{ 'CHECKOUT.BILLING_ADDRESS.COUNTRY_PLACEHOLDER' | translate }}</option>
            </select>
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.CITY' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.CITY_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.POST_CODE' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.POST_CODE_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div>
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.STATE' | translate }}
            </label>
            <input
              type="text"
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.STATE_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500"
            />
          </div>

          <div class="md:col-span-2">
            <label class="mb-2 block text-[var(--secondary-color)] text-lg drop-shadow-lg">
              {{ 'CHECKOUT.BILLING_ADDRESS.MESSAGE' | translate }}
            </label>
            <textarea
              [placeholder]="'CHECKOUT.BILLING_ADDRESS.MESSAGE_PLACEHOLDER' | translate"
              class="w-full text-gray-500 font-light rounded-lg shadow-md shadow-gray-350 border-gray-200 focus:ring-blue-500 h-20"
            ></textarea>
          </div>
        </div>

        <div class="flex justify-between mt-6">
          <button
            routerLink="/cart"
            class="px-1 py-3 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-700 transition-colors duration-200"
          >
            &larr; {{ 'CHECKOUT.BUTTONS.BACK_TO_CART' | translate }}
          </button>
          <button
            class="max-sm:px-1 xl:px-2 py-3 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-700 transition-colors duration-200"
          >
            {{ 'CHECKOUT.BUTTONS.NEXT_STEP' | translate }} &rarr;
          </button>
        </div>
      </div>
      <div>
        <app-cart-sammary></app-cart-sammary>
      </div>
    </div>
  </div>
</div>