
<div class="flex m-auto flex-col  justify-center items-center lg:w-1/2">
<img class="m-auto w-80" src="images/logo 2 trams.png" alt="Prime Care Logo">
<p class=" text-xl mt-14 sm:ml-0">ENTER YOUR EMAIL</p>
<form [formGroup]="forgetpass" (ngSubmit)="submit()" class="w-full mt-10 max-w-sm ml-20 sm:ml-0">
<app-email-input>
<i class="fas fa-envelope text-gray-500 absolute left-3 top-1/2 transform -translate-y-1/2"></i>
<input formControlName="email" type="email" placeholder="Email"   
class="dark:bg-gray-300 border border-blue-300  text-sm rounded-lg focus:ring-blue-500 text-blue-800 placeholder-blue-900 focus:border-blue-500 block w-80 pl-10 p-2.5">
</app-email-input>
<app-alerts [formName]="forgetpass" controlName="email"/>
<div class=" text-center mt-24 ">
<app-reg-button > Send Code </app-reg-button>
</div>
</form>
</div>



        