<div class="flex flex-col justify-center items-center min-h-screen w-full px-4 sm:px-8 lg:px-16">
<img class="w-32 sm:w-48" src="images/logo 2 trams.png" alt="Prime Care Logo">
<p class="text-xl mt-10 text-center">ENTER YOUR EMAIL</p>    
<form [formGroup]="forgetpass" (ngSubmit)="submit()" class="w-full max-w-xs sm:max-w-sm mt-6">
<div class="relative w-full">
<i class="fas fa-envelope text-gray-500 absolute left-3 top-1/2 transform -translate-y-1/2"></i>
<input formControlName="email" type="email" placeholder="Email" class="w-full border border-blue-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 pl-10 p-2.5 placeholder-blue-900 text-blue-700 dark:bg-gray-300">
</div>
<app-alerts [formName]="forgetpass" controlName="email"/>
<div class="text-center mt-6">
<app-reg-button>Send Code</app-reg-button>
</div>
</form>
</div>
  
        