<div class="pt-24 max-lg:pt-8 ml-0 md:ml-20 md:flex mb-14">
  <!-- Product Images -->
  <div class="max-md:mx-0 lg:mx-20 max-sm:pb-10">
    <!-- الصورة الرئيسية -->
    <div
      class="product-card__image relative mx-auto overflow-hidden rounded-20 aspect-square shadow-xl border-t-white border w-80 h-96 bg-white"
    >
      <img
        class="rounded-20 images w-96 h-full"
        [src]="product?.photoUrl"
        [alt]="product?.name"
      />
    </div>

    <!-- صور مصغرة للاختيار -->
    <div class="mt-5 flex justify-center">
      @for (image of product?.productPhotos || []; track image.id) {
      <div
        class="product-card__image overflow-hidden mr-3 rounded-lg aspect-square shadow-2xl border w-24 h-24 bg-white"
      >
        <img
          class="rounded-lg images w-24 h-24 cursor-pointer"
          [src]="image.url"
          [alt]="'Product image ' + image.id"
          (click)="changeMainImage(image.url)"
        />
      </div>
      }
    </div>
  </div>

  <!-- Product Details -->
  <div class="md:mx-8 xl:mx-10 mx-10   ">
    <h2 class="text-2xl dark:text-white transition-colors duration-300">
      {{ product?.name }}
    </h2>
    <!-- <h2 class="text-[#0070CD] dark:text-blue-500 duration-300 transition-colors text-xl">${{ product.priceAfterDiscount }}</h2> -->
    <h2 class="dark:text-white transition-colors duration-300">
      <span
        class=" text-black dark:text-cyan-400 duration-300 transition-colors text-xl"
        >${{ product?.price }}</span
      >
    </h2>
    <h2
      class="text-black sm:w-1/2 w-full dark: dark:text-white duration-300 transition-colors"
    >
      {{ product?.description }}
    </h2>
    <!-- Product Specs -->
    <ul class="mt-7 list-disc text-[#757F95]">
      <li class="mt-4">
        <span class="font-semibold">{{
          "PRODUCT_DETAILS.STOCK" | translate
        }}</span>
        {{ "PRODUCT_DETAILS.AVAILABLE" | translate }}
      </li>
      <li class="mt-4">
        <span class="font-semibold">{{
          "PRODUCT_DETAILS.CATEGORY" | translate
        }}</span>
        {{ product?.category }}
      </li>
      <li class="mt-4">
        <span class="font-semibold">{{
          "PRODUCT_DETAILS.BRAND" | translate
        }}</span>
        {{ product?.productBrand }}
      </li>
      <li class="mt-4">
        <span class="font-semibold">{{
          "PRODUCT_DETAILS.TAGS" | translate
        }}</span>
        Medical Equipment
      </li>
    </ul>

    <!-- Action Buttons -->
    <div class="flex mt-5">
      <button
        class="bg-[#0070CD] text-white p-2 px-4 max-md:ml-0 rounded-xl hover:bg-blue-600 duration-500 mx-2"
        (click)="addToCart()"
      >
        <i class="fa-solid fa-bag-shopping mr-2"></i>
        {{ "PRODUCT_DETAILS.ADD_TO_CART" | translate }}
      </button>
      <button
        class="text-white bg-[#0070CD] hover:bg-blue-600 duration-500 p-3 rounded-full hover:text-red-500"
        [attr.aria-label]="'PRODUCT_DETAILS.WISHLIST' | translate"
        (click)="addToWishlist()"
      >
        <i
          [class]="isInWishlist ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"
          [style.color]="isInWishlist ? '#ff0000' : '#ffffff'"
          class="text-xl"
        ></i>
      </button>
    </div>
  </div>
</div>
