<div class="transition-colors duration-300 dark:bg-[#242424]">
    <div class="max-w-screen-xl container py-12 mx-auto px-5  md:px-20 lg:px-40">
        <!-- Title -->
        <div class="title space-y-2 mb-6">
          <h2 class="text-2xl font-bold text-[#5bb8ff] dark:text-[#5bb8ff] duration-300 transition-colors">Delivery</h2>
          <p class="text-lg font-semibold text-[#161E6B] dark:text-[#5bb8ff] duration-300 transition-colors">Shipments and Returns</p>
          <p class="text-gray-700 dark:text-gray-300 duration-300 transition-colors">Your Pack Shipment</p>
        </div>
      
        <!-- Content -->
        <div class="content space-y-6 text-gray-800 duration-300 transition-colors dark:text-gray-200">
          <p>
            Orders are generally dispatched within 1-2 business days after receipt of payment and are shipped via trusted courier services 
            with tracking and drop-off without signature. We will provide you with a link to track your package online.
          </p>
      
          <p>
            Shipping fees include handling and packing fees as well as postage costs. Handling fees are fixed, whereas transport fees vary 
            according to total weight of the shipment. We advise you to group your items in one order. We cannot group two distinct orders 
            placed separately, and shipping fees will apply to each of them.
          </p>
      
          <p>
            Returns are accepted within 14 days of delivery. Items must be returned unused, in their original packaging, and accompanied 
            by a receipt or proof of purchase. To initiate a return, please contact our support team with your order number and reason 
            for return.
          </p>
        </div>
      </div>
      
</div>

  
  