<div class="w-[100%] max-xl:pl-0 pl-36 grid grid-cols-2 max-md:grid-cols-1 mt-5">
  
<div class="  mt-8 w-[]  max-lg:ml-0 ">
    <div class="flex max-lg:w-full pb-3 ">
      <img class="w-1/12 max-sm:w-1/6" src="/images/booking/gear.png" alt="">
    <h2 class="font-semibold text-2xl pt-1.5 dark:text-white duration-300 transition-colors ">Under Development</h2>
    </div>
<h2 class="pl-6 text-3xl font-bold leading-10 dark:text-white duration-300 transition-colors">Find <span class="text-[#257FFA]">Best Clinic</span> <br> To Get Solutions.</h2>
<p class="text-sm pl-6  pt-3 leading-6 dark:text-white duration-300 transition-colors">Health is one of the most importatnt things  for us therefor immediately check your health for you good</p>
<button class="mt-5 bg-[#0063FE] text-white p-3 ml-6  rounded-xl hover:bg-blue-700 duration-500" routerLink="/booking">Appointment</button>
</div>
<div class=" max-md:hidden  m-0 ">
    <img class=" w-[65%]" src="/images/booking/blue-doctor.png" alt="">
</div>
</div>