<div class="flex flex-col justify-center items-center min-h-screen w-full px-4 sm:px-8 lg:px-16">
<img class="w-44 sm:w-52" src="images/logo 2 trams.png" alt="Prime Care Logo">
<div class="text-center mt-5">
<p class="text-xl">ENTER YOUR CODE</p>
<p class="text-lg mt-4">CODE SENT TO YOUR EMAIL</p>
<p class="text-lg mt-2 text-gray-600">EXAMPLE: NAMEME&#64;GMAIL.COM</p>
</div>
<form [formGroup]="verifycode" (ngSubmit)="submit2()" class="w-full max-w-xs sm:max-w-sm mt-6">
<div class="flex justify-center space-x-2">
<input formControlName="digit1" id="digit1" type="text" maxlength="1" (input)="onInput($event, 'digit2')" (paste)="onPaste($event)" class="w-11 h-11 text-lg font-bold text-center border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-gray-600  text-blue-700">
<input formControlName="digit2" id="digit2" type="text" maxlength="1" (input)="onInput($event, 'digit3', 'digit1')" (paste)="onPaste($event)" class="w-11 h-11 text-lg font-bold text-center border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-gray-600  text-blue-700">
<input formControlName="digit3" id="digit3" type="text" maxlength="1" (input)="onInput($event, 'digit4', 'digit2')" (paste)="onPaste($event)" class="w-11 h-11 text-lg font-bold text-center border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-gray-600  text-blue-700">
<input formControlName="digit4" id="digit4" type="text" maxlength="1" (input)="onInput($event, 'digit5', 'digit3')" (paste)="onPaste($event)" class="w-11 h-11 text-lg font-bold text-center border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-gray-600  text-blue-700">
<input formControlName="digit5" id="digit5" type="text" maxlength="1" (input)="onInput($event, 'digit6', 'digit4')" (paste)="onPaste($event)" class="w-11 h-11 text-lg font-bold text-center border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-gray-600  text-blue-700">
<input formControlName="digit6" id="digit6" type="text" maxlength="1" (input)="onInput($event, undefined, 'digit5')" (paste)="onPaste($event)" class="w-11 h-11 text-lg font-bold text-center border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-gray-600 text-blue-700">
</div>
<div class="text-center mt-6">
<app-reg-button>Verify</app-reg-button>
</div>
</form>
</div>