<aside
  *ngIf="!isMobile() || showFilters"
  (click)="$event.stopPropagation()"
  class="w-3/4 md:w-[20rem] p-4 rounded-lg space-y-6"
  [ngClass]="
    isMobile()
      ? {
          'fixed top-14 left-0 w-3/4 bg-white h-full z-50 transition-transform duration-300 shadow-2xl overflow-y-auto rounded-40': true,
          '-translate-x-full': !showFilters,
          'translate-x-0': showFilters
        }
      : ''
  "
>
  <!-- Close button (only on mobile) -->
  <div class="flex justify-end mb-2 sm:hidden">
    <button (click)="onToggleFilters()" class="text-2xl">&times;</button>
  </div>

  <!-- Category Filter -->
  <div>
    <h3 class="font-semibold text-lg mb-2 text-[var(--secondary-color)]  dark:text-blue-600 duration-300 transition-colors">{{ 'FILTERS.CATEGORY.TITLE' | translate }}</h3>
    <ul class="space-y-4  duration-300 dark:text-white transition-colors">
      <li>
        <label class="inline-flex items-center space-x-4">
          <input
            type="radio"
            name="category"
            class="form-radio h-4 w-4 text-blue-600"
            [(ngModel)]="selectedCategory"
            value="all"
            (change)="applyFilters()"
          />
          <span>{{ 'FILTERS.CATEGORY.ALL' | translate }}</span>
        </label>
      </li>
      <li *ngFor="let category of categories">
        <label class="inline-flex items-center space-x-2">
          <input
            type="radio"
            name="category"
            class="form-radio h-4 w-4 text-blue-600"
            [(ngModel)]="selectedCategory"
            [value]="category.name"
            (change)="applyFilters()"
          />
          <span class="w-full">{{ category.name }}</span>
        </label>
      </li>
    </ul>
  </div>
  <hr class="my-4 border-gray-300" />

  <!-- Customer Reviews Filter -->
  <div>
    <h3 class="font-semibold text-lg mb-2 text-[var(--secondary-color)]  dark:text-blue-600 duration-300 transition-colors">{{ 'FILTERS.REVIEWS.TITLE' | translate }}</h3>
    <ul class="space-y-2  dark:text-white duration-300 transition-colors">
      <li *ngFor="let review of ['all', '5.0', '4.0-4.9', '3.0-3.9', '2.0-2.9', '1.0-1.9']">
        <label class="inline-flex items-center space-x-2">
          <input
            type="radio"
            name="reviews"
            class="form-radio h-4 w-4 text-blue-600"
            [(ngModel)]="selectedReview"
            [value]="review"
            (change)="applyFilters()"
          />
          <span *ngIf="review === 'all'">{{ 'FILTERS.REVIEWS.ALL' | translate }}</span>
          <span *ngIf="review !== 'all'">
            <ng-container *ngIf="review === '5.0'">
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              {{ 'FILTERS.REVIEWS.5_STAR' | translate }}
            </ng-container>
            <ng-container *ngIf="review === '4.0-4.9'">
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              {{ 'FILTERS.REVIEWS.4_STAR' | translate }}
            </ng-container>
            <ng-container *ngIf="review === '3.0-3.9'">
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              {{ 'FILTERS.REVIEWS.3_STAR' | translate }}
            </ng-container>
            <ng-container *ngIf="review === '2.0-2.9'">
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              {{ 'FILTERS.REVIEWS.2_STAR' | translate }}
            </ng-container>
            <ng-container *ngIf="review === '1.0-1.9'">
              <i class="fa-solid fa-star inline-block h-4 w-4" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              <i class="fa-regular fa-star" style="color: #74c0fc"></i>
              {{ 'FILTERS.REVIEWS.1_STAR' | translate }}
            </ng-container>
          </span>
        </label>
      </li>
    </ul>
    <hr class="my-4 border-gray-300" />
  </div>

  <!-- Price Filter -->
  <div>
    <h3 class="font-semibold text-lg mb-2 text-[var(--secondary-color)]  dark:text-blue-600 duration-300 transition-colors">{{ 'FILTERS.PRICE.TITLE' | translate }}</h3>
    <ul class="space-y-2 dark:text-white duration-300 transition-colors">
      <li *ngFor="let price of ['', '0-25', '25-50', '50-100', '100-200', '200-999999']">
        <label class="inline-flex items-center space-x-2">
          <input
            type="radio"
            name="price"
            class="form-radio h-4 w-4 text-blue-600"
            [(ngModel)]="selectedPriceRange"
            [value]="price"
            (change)="applyFilters()"
          />
          <span>
            {{
              price === ''
                ? ('FILTERS.PRICE.ALL' | translate)
                : price === '0-25'
                ? ('FILTERS.PRICE.UNDER_25' | translate)
                : price === '25-50'
                ? ('FILTERS.PRICE.25_TO_50' | translate)
                : price === '50-100'
                ? ('FILTERS.PRICE.50_TO_100' | translate)
                : price === '100-200'
                ? ('FILTERS.PRICE.100_TO_200' | translate)
                : ('FILTERS.PRICE.ABOVE_200' | translate)
            }}
          </span>
        </label>
      </li>
    </ul>
    <hr class="my-4 border-gray-300" />
  </div>

  <!-- Discount Filter -->
  <div>
    <h3 class="font-semibold text-lg mb-2 text-[var(--secondary-color)]  dark:text-blue-600 duration-300 transition-colors">{{ 'FILTERS.DISCOUNT.TITLE' | translate }}</h3>
    <ul class="space-y-2  dark:text-white duration-300 transition-colors">
      <li *ngFor="let discount of ['', '0-10', '25', '50', '70']">
        <label class="inline-flex items-center space-x-2">
          <input
            type="radio"
            name="discount"
            class="form-radio h-4 w-4 text-blue-600"
            [(ngModel)]="selectedDiscount"
            [value]="discount"
            (change)="applyFilters()"
          />
          <span>
            {{
              discount === ''
                ? ('FILTERS.DISCOUNT.ALL' | translate)
                : discount === '0-10'
                ? ('FILTERS.DISCOUNT.10_OFF' | translate)
                : discount === '25'
                ? ('FILTERS.DISCOUNT.25_OFF' | translate)
                : discount === '50'
                ? ('FILTERS.DISCOUNT.50_OFF' | translate)
                : ('FILTERS.DISCOUNT.70_OFF' | translate)
            }}
          </span>
        </label>
      </li>
    </ul>
    <br /><br />
  </div>
</aside>